/* header start */
body {
  box-sizing: border-box;
  margin: 0;
}

#header {
  position: relative;
  z-index: 1;

  width: 1440px;
  height: 1024px;
  background-image: url(../assets/img/header/background_header.png);
}

.logo {
  margin-top: 47px;
  width: 53px;
  height: 80px;
}

.container {
  margin: 0 75px 0 122px;
}

.flex-container-header {
  display: flex;
  color: #fff;
  gap: 100px;
}

.flex-item-header {
  margin-top: 74px;
}

.item-main-header {
  margin: 74px 0 0 190px;
}

.grid-container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;
  column-gap: 338px;
}

.img-wired {
  position: relative;
  bottom: 155px;
  left: 45px;
  z-index: 2;
}

.phone {
  position: relative;
  z-index: 3;
}

.text-header-big {
  margin-top: 164px;
  margin-bottom: 280px;
  color: rgb(255, 255, 255);
  font-family: Kenia;
  font-size: 150px;
  font-weight: 400;
  width: 412px;
  height: 264px;
}

.text-header-low {
  color: rgb(255, 255, 255);
  font-family: Istok Web;
  font-size: 20px;
  font-weight: 400;
}

.flex-item-header > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Istok Web;
  font-size: 18px;
  font-weight: 400;
}
/* header end */

/* music start */
#music {
  position: relative;
  z-index: 2;
  width: 1440px;
  height: 1024px;
  background-color: rgb(213, 48, 5);
}
/* music end */

.title-section {
  position: relative;
  top: 83px;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: Karla;
  font-size: 30px;
  font-weight: 400;
}

.grid-container-music {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.flex-music-container {
  display: flex;
  flex-direction: column;
  gap: 88px;
  margin-top: 385px;
}

.flex-music-container > button {
  color: rgb(255, 255, 255);
  font-family: Karla;
  font-size: 40px;
  font-weight: 400;

  width: 382px;
  height: 83px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: -4px -4px 30px 0px rgba(255, 255, 255, 0.1),
    4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    2087.07% 134.42% at 2% 8%,
    rgb(177, 62, 24),
    rgb(243, 80, 26) 100%
  );
}

.grid-item-music-img > img {
  width: 935px;
  height: 666.5px;
}

/* about start */
#about {
  background: linear-gradient(180deg, rgb(213, 48, 5), rgb(0, 0, 0) 6.037%);
  width: 1440px;
  height: 1024px;
}

.text-about {
  color: rgb(255, 255, 255, 0.8);
  font-family: Karla;
  font-size: 30px;
  font-weight: 400;
}

.flex-container-about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* about end */
/* store start */
#store {
  background: rgb(213, 48, 5);
  width: 1440px;
  height: 1024px;
}

.grid-container-store {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 1fr;
}

.flex-container-store {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 254px;
  width: 240px;
  height: 60px;
}

.download-btn {
  width: 240px;
  height: 60px;

  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1),
    4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(227, 227, 227);

  color: rgb(0, 20, 0);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
}

.download-btn-win {
  width: 240px;
  height: 60px;

  border-radius: 30px;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.1),
    4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(2, 2, 2, 0.9);

  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
}

.description {
  display: inline-block;
  margin-top: 243px;
  text-align: center;
}

.description-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
}

.description-text {
  color: rgb(255, 255, 255, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.description-link {
  color: rgba(4, 4, 4, 0.8);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

.img-store {
  position: relative;
  width: 867px;
  height: 583px;
  top: 169px;
  right: 0px;
}
/* store end */

/* footer start */
#footer {
  background: linear-gradient(180deg, rgb(213, 48, 5), rgb(0, 0, 0) 4.015%);
  width: 1440px;
  height: 536px;
}

.flex-container-footer {
  display: flex;
  justify-content: flex-end;
  gap: 147px;

  position: relative;
  top: 0px;
}
.flex-container-footer > ul {
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

li {
  margin-bottom: 30px;
}

li > a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.8);
}

.title-footer-list {
  font-weight: bolder;
  font-size: 20px;
}

.flex-container-footer-navbar {
  display: flex;
  flex-direction: row;
  color: #fff;
  gap: 99px;
  margin-top: 180px;
  justify-content: space-around;

  color: rgb(255, 255, 255, 0.8);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}

.logo-footer {
  position: relative;
  top: 410px;
  left: 10px;
}
/* footer end */
